@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
@import "tailwindcss";

@theme {
  /* Primary */
  --color-scissors: hsl(39, 89%, 49%);
  --color-scissors-to: hsl(40, 84%, 53%);
  --color-paper: hsl(230, 89%, 62%);
  --color-paper-to: hsl(230, 89%, 65%);
  --color-rock: hsl(349, 71%, 52%);
  --color-rock-to: hsl(349, 70%, 56%);
  --color-lizard: hsl(261, 73%, 60%);
  --color-lizard-to: hsl(261, 72%, 63%);
  --color-spock: hsl(189, 59%, 53%);
  --color-spock-to: hsl(189, 58%, 57%);

  /* Neutral */
  --color-dark-text: hsl(229, 25%, 31%);
  --color-score-text: hsl(229, 64%, 46%);
  --color-header-outline: hsl(217, 16%, 45%);

  /* Background */
  --background-from: hsl(214, 47%, 23%);
  --background-to: hsl(237, 49%, 15%);
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: radial-gradient(
    circle at top,
    var(--background-from),
    var(--background-to)
  );
}

.w-stretch {
  width: stretch;
}

.h-stretch {
  height: stretch;
}

.aspect-ratio-1-1 {
  aspect-ratio: 1 / 1;
}

.text-xxs {
  font-size: 0.62rem;
  line-height: .5rem;
}

.shadow-solid-bottom {
  box-shadow: 0 6px 0 0 color-mix(in srgb, var(--tw-shadow-color) 50%, black);
}

.rippled-border {
  box-shadow: 
    0 0 0 15px color-mix(in srgb, var(--color-dark-text) 40%, transparent),
    0 0 0 40px color-mix(in srgb, var(--color-dark-text) 30%, transparent),
    0 0 0 75px color-mix(in srgb, var(--color-dark-text) 20%, transparent);
}
